body {
    /*background-color: rgb(230, 230, 230);*/
    background-image: url("gray-lines.png");
    background-size: 100%;
    /*image-rendering: -webkit-optimize-contrast;*/
    color: black;
    font-family: Benne;
    margin:0px 50px 50px 50px;
    line-height: 1.5;
}

/* Georgia;*/

a:link {
    color: darkcyan;
    font-size: 19px;
}

a:hover {
    color: darkcyan;
}

a:active {
    color: darkcyan;
}

div.box {
    background-color: rgb(220, 220, 220);
    border: 1px ridge;
    padding: 1%;
    margin: 5px;
    text-align: justify;
    text-indent: 50px;
    margin-right:4em;
    position: relative;
    font-size: 17px;
    line-height: 1.5;
    min-width : 1%;
    max-width: 40%;
    height: auto;

}

div.space {
    padding-top: 160px;
    padding-right: 30px;
    padding-bottom: 160px;
    padding-left: 80px;
}

div.pane {
    width: 800px;
    height: 445px;
    margin: 5px;
    padding: 35px;
    position: relative;
    bottom: -20px;
}

div.text {
    min-width: 100%;
    max-width: 150%;
    word-wrap: break-word;
}

img.float_text_left {
    float: left;
    clear: none;
    margin: 15px;
}

div.image-container {
    overflow: hidden;
    max-width: 100%;
    margin: 0 auto;
}

img {
    max-height: 100%;
    width: auto;
    display: block; /* Added to remove any potential white space beneath the image */
}

img:hover {
    box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
}

span.float_text_right p {
    width: 65%;
    height: auto;
    float: left;
}

.column {
    float: left;
    width: 28.33%;
    padding: 0px;
}

.row::after {
    content: "";
    clear: both;
    display: table;
}

/*@media (max-width: 1500px) {
    .pane {
        display: none;
    }
}*/

.conbox {
    position: relative;
    overflow: hidden;
    width: 150%;
    height: 150%;
    padding-top: 100%;
}

.iframe-resize {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    allow: autoplay;
}
